@import "../../assets/scss/config.scss";

.header {
  height: 70px;
  background: $white;
  border-bottom: 1px solid transparentize($black, 0.85);
  box-shadow: 0 10px 10px transparentize($black, 0.98);

  &__content {
    display: flex;
    height: 100%;
  }

  &__home {
    align-self: center;
    margin-left: 15px;
  }

  &__title {
    align-self: center;
    font-size: 18px;
    margin-left: 15px;
  }

  &__user {
    margin-left: auto;
    font-size: 18px;
    display: flex;

    a {
      align-items: center;
      display: flex;
    }

    svg {
      margin-left: 5px;
    }
  }
}
