@import "../../config.scss";

.nav {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  width: 300px;
  background: #fff;
  overflow: auto;
  border-right: 1px solid transparentize($black, 0.85);
  box-shadow: 10px 0 10px transparentize($black, 0.98);

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;

    &:first-child {
      a {
        border-top: 1px solid transparentize($black, 0.9);
      }
    }

    a {
      border-bottom: 1px solid transparentize($black, 0.9);
      padding: 15px;
      display: block;

      &.active {
        color: $primary;
        background: $body;
      }
    }
  }

  &__logo {
    height: 80px;
    line-height: 80px;
    font-size: 24px;
    text-align: center;
    display: block;
    font-weight: 100;

    b {
      font-weight: 600;
    }
  }
}

.nav-trigger {
  width: 35px;
  height: 35px;
  align-self: center;
  border: none;
  transition: $transition;
  background-color: $black;
  mask-image: url("../../assets/menu.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
  cursor: pointer;

  &:hover {
    background-color: $primary;
  }
}
