@import "../../assets/scss/config.scss";

.table {
  overflow: auto;
  border-radius: $radius;
  border: 1px solid transparentize($black, 0.85);
  box-shadow: 0 10px 10px transparentize($black, 0.98);
  margin-bottom: 30px;

  &__content {
    width: 100%;
    text-align: left;
    background: #fff;
    border-collapse: collapse;
  }

  &__head {
    border-bottom: 1px solid transparentize($black, 0.85);
  }

  &__column {
    padding: 10px 15px;
    min-width: 150px;
  }

  &__row {
    border-bottom: 1px solid transparentize($black, 0.85);

    &:last-child {
      border-bottom: none;
    }
  }

  &__empty {
    text-align: center;
    padding: 30px 15px;
    background: #fff;
  }
}

.paginate {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;

  &__item {
    display: inline-block;

    &--active {
      font-weight: 600;
    }
  }

  button {
    margin-bottom: 0;
  }
}
