@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900&subset=latin-ext");
@import "./config.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  outline: none;
}

body {
  overscroll-behavior: none;
  font: 400 16px/160% "Lato", sans-serif;
  background: $body;
  color: $black;
}

a {
  text-decoration: none;
  transition: $transition;
  color: $black;

  &:hover {
    color: $primary;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 25%;
    height: 100px;
    margin: 0 10px 10px 0;
    overflow: hidden;
    border-radius: $radius;

    @media screen and (max-width: 600px) {
      width: 50%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: 0;
      display: block;
    }

    &:hover {
      box-shadow: 0 0 0 2px $primary;
    }
  }
}

.text-center {
  text-align: center;
}

.preview {
  margin-top: 30px;
  max-width: 100%;
  max-height: 100%;
}

.sign-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 160px);
}

.sign-form {
  width: 400px;
  max-width: 100%;

  a {
    font-weight: 600;
  }
}

.tablets-list {
  margin: 15px 0;

  h4 {
    margin: 0 0 10px;
  }

  ul {
    list-style: none;
    padding: 0;
    column-count: 4;
  }

  label {
    display: block;
  }
}

.devices-selector {
  width: 100%;
  margin: 0 0 15px;
  display: block;
  grid-area: after-tools;
}
