@import "../../assets/scss/config.scss";

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -20px;
  width: 40px;
  height: 40px;
  background-color: $primary;
  mask-image: url("../../assets/icons/spinner.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
}
